/**
 *	Font - Icons
*/

@font-face {
	font-family: 'icons';
	src: url($config-dir-fonts + "icons/my-icons.eot?-8vq6t7");
	src: url($config-dir-fonts + "icons/my-icons.eot?#iefix-8vq6t7") format('embedded-opentype'),
		 url($config-dir-fonts + "icons/my-icons.woff?-8vq6t7") format('woff'),
		 url($config-dir-fonts + "icons/my-icons.ttf?-8vq6t7") format('truetype'),
		 url($config-dir-fonts + "icons/my-icons.svg?-8vq6t7#icomoon") format('svg');
	font-weight: normal;
	font-style: normal;
}